<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.default_meta }}{% endif %}">

    <script defer data-domain="quangdao.com" src="https://plausible.io/js/script.js"></script>

    {% include async_style.html path='/resources/font-awesome/css/font-awesome.min.css' %}
    {% include async_style.html path='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600?display=swap' %}
    {% include async_style.html path='/resources/style.css' %}

    <script src="{{ site.baseurl }}/resources/script.js" defer></script>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}"
        href="{{ site.baseurl }}/feed.xml" />
</head>