<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.default_meta }}{% endif %}">

    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://stats.g.doubleclick.net">
    <link rel="preconnect" href="https://www.google-analytics.com">

    {% include async_style.html path='/resources/font-awesome/css/font-awesome.min.css' %}
    {% include async_style.html path='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600?display=swap' %}
    {% include async_style.html path='/resources/style.css' %}

    <script src="{{ site.baseurl }}/resources/script.js" defer></script>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}"
        href="{{ site.baseurl }}/feed.xml" />
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P6WC52T');</script>
    <!-- End Google Tag Manager -->
</head>