<div class="portfolio">
  <div class="card-grid">
    {% assign sortedPortfolioItems = site.portfolio | sort: 'priority', 'last' %}
    {% for item in sortedPortfolioItems %}
    {% if item.draft  %}
      {% continue %}
    {% endif  %}
    {% assign content = item.content | strip_newlines %}
    <div class="card">
      <div class="card-container">
        <div class="card-header">
          {% capture imageBaseUrl %}{{site.baseurl}}/resources/images/portfolio/{{ item.slug }}/thumbnail{% endcapture %}
          {% assign imageAlt = item.title | append: 'Screenshot' %}
          {% assign imageLink = item.link %}
          {% if item.links %}{% assign imageLink = item.links[0].url %}{% endif %}
          {% unless content == '' %}{% assign imageLink = item.url %}{% endunless %}
          <a href="{{ imageLink }}" target="_blank" {% if item.links and content == '' %}data-reveal{% endif %} rel="noopener">
            {% include webp_picture.html pathbase=imageBaseUrl alt=imageAlt %}
          </a>
        </div>
        <div class="card-content">
          <h3 class="card-title">{{ item.title }}</h3>
          <h4 class="card-subtitle">
            {% if item.platform %}
              {{ item.platform }} -
            {% endif %}
            {{ item.role }}
          </h4>
        </div>
        <div class="card-links">
          {% unless content == '' %}
            <a class="button button-2 card-button" href="{{ item.url }}">Details</a>
          {% endunless %}
          {% if item.links %}
            <a class="button button-1 card-button" 
              href="{{ item.links[0].url }}" 
              data-reveal 
              target="_blank">See It Live +</a>
          {% elsif item.link %}
            <a class="button button-1 card-button" href="{{ item.link }}" target="_blank" rel="noopener">See It Live</a>
          {% else %}
          <span class="button button-1 card-button">Demo Unavailable</span>
          {% endif %}
        </div>
        {% if item.links %}
          <div class="card-reveal">
            <div class="card-reveal-content">
              {% for link in item.links %}
                <a class="button button-1 card-button" href="{{ link.url }}" target="_blank" tabindex="-1" rel="noopener">{{ link.label }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>