@import url('https://use.typekit.net/zxo6has.css');

:root {
	--font-primary: #{$font-primary};

	--color-black: #{$color-black};
	--color-white: #{$color-white};

	--color-foreground: var(--color-black);
	--color-background: var(--color-white);
	--color-link: var(--color-blue-base);
	--color-link-hover: var(--color-green-base);

	font-size: 1.5em;

	@each $hue, $shades in $brand-colors {
		@each $shade, $value in $shades {
			--color-#{""+ $hue}-#{$shade}: #{$value};
			--color-#{""+ $hue}-#{$shade}-opacity-5: #{rgba($value, 0.5)};
			--color-#{""+ $hue}-#{$shade}-opacity-8: #{rgba($value, 0.8)};
		}
	}
}

body {
	font-family: var(--font-primary);
	font-weight: 200;
	margin: auto;
	padding: 0;
	text-align: left;
	background-color: var(--color-background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--color-foreground);
}

svg {
	fill: var(--color-foreground);
}

a,
a:active,
a:visited {
	color: currentColor;
  text-decoration-color: var(--color-orange-base);
  &:hover {
    color: var(--color-link-hover);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}
