@import url('https://use.typekit.net/zxo6has.css');

:root {
	font-size: 1.5em;

	--font-primary: #{$font-primary};
	--font-code: #{$font-code};
	--font-script: #{$font-script};

	--color-black: var(--color-gray-900);
	--color-white: var(--color-gray-0);

	--color-foreground: var(--color-black);
	--color-background: var(--color-white);
	--color-heading: var(--color-green-base);
	--color-subheading: var(--color-blue-base);
	--color-link: var(--color-blue-base);
	--color-link-hover: var(--color-green-base);
	--color-link-decoration: var(--color-orange-base);
	--color-code: var(--color-purple-base);

	--spacing: 1rem;

	@each $hue, $shades in $brand-colors {
		@each $shade, $value in $shades {
			--color-#{""+ $hue}-#{$shade}: #{$value};
			--color-#{""+ $hue}-#{$shade}-op-1: #{rgba($value, 0.2)};
			--color-#{""+ $hue}-#{$shade}-op-5: #{rgba($value, 0.5)};
		}
	}
}

html,
body {
	margin: 0;
	scrollbar-color: var(--color-green-base) var(--color-white);
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	/* the "track" of the bar - great for customizing "background" colors */
	background: var(--color-white);
}

::-webkit-scrollbar-thumb {
	background: var(--color-green-base);
}

.app {
	position: relative;
	min-height: 100vh;
	font-family: var(--font-primary);
	font-weight: 200;
	margin: auto;
	padding: 0;
	text-align: left;
	background-color: var(--color-background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--color-foreground);

	@include dark-theme {
		--color-foreground: var(--color-white);
		--color-background: var(--color-black);
		--color-heading: var(--color-orange-base);
		--color-subheading: var(--color-white);
		--color-link: var(--color-white);
		--color-link-hover: var(--color-white);
		--color-code: var(--color-orange-base);
	}
}

svg {
	fill: var(--color-foreground);
}

a,
a:active,
a:visited {
	color: currentColor;
	text-decoration-color: var(--color-link-decoration);
	transition: 500ms;
	&:hover {
		color: var(--color-link-hover);
		text-decoration-thickness: 0.125em;
	}
}

h1 {
	color: var(--color-heading);
}

h2,
h3 {
	color: var(--color-subheading);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
summary {
	margin: 0 0 var(--spacing);
}

pre,
code {
	font-family: var(--font-code);
}

p code {
	color: var(--color-code);
}

article {
	margin: 2em 0;
	--spacing: 0.25rem;
}

img {
	max-width: 100%;
}

::-webkit-scrollbar-thumb {
	/* the actual draggable element, the star of the show! */
	background: var(--color-orange-base);
}

pre.language-info,
code.language-info {
	white-space: normal;
	background: transparent;
	font-family: var(--font-primary);
	color: var(--color-foreground);
}

b,
strong {
	font-weight: bold;
}
