---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import NavList from '../components/NavList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header class="hero">
      <NavList />
      <div class="intro">
        <div class="intro-content">
          <h1>Hello, World!</h1>
          <h2>
            I'm Q &mdash; a well-versed, multi-talented, highly-functional
            robot.
          </h2>
        </div>
      </div>
    </header>
		
    <main>
			<section class="container">
				<p>Some Content</p>
			</section>
		</main>
    <Footer />
  </body><style lang="scss">
    @use 'src/styles/utils/placeholders';

    :global(nav) {
      @extend %container;
      position: relative;
      text-align: right;
    }

    .hero {
      overflow: hidden;
      position: relative;
			color: var(--color-background);
			padding-bottom: 2em;
			margin-bottom: 2em;
      &::before {
				$blur: 10px;
				$offset: $blur * -2;
        content: '';
        position: absolute;
        top: $offset;
        right: $offset;
        bottom: $offset;
        left: $offset;
        background: var(--color-black);
        background-image: url(https://picsum.photos/1920/1080?grayscale);
				background-position: center;
        background-size: cover;
        filter: brightness(60%) blur(10px);
      }
    }

    .intro {
			position: relative;
      @extend %container;
      padding: 1em;

      &-content {
        h1 {
          font-size: 3em;
					margin-top: 0;
        }

        h2 {
          font-size: 2em;
          max-width: 50%;
        }
      }
    }
  </style>
</html>
