$font-primary: 'ff-tisa-sans-web-pro', sans-serif;
$font-code: ubuntu-mono, monospace;
$font-script: 'gloria-hallelujah', serif;

$color-black: #04080f;
$color-gray: #e6e6e6;
$color-white: #f7f7f9;

$container-max-width: 1080px;

$brand-colors: (
	gray: (
		0: #f7f7f9,
		50: #e1e1e6,
		200: #e6e6e6,
		300: #b9babb,
		850: #0b1525,
		900: #04080f
	),
	green: (
		base: #224102
	),
	orange: (
		200: #ffd49b,
		400: #ffb14a,
		500: #ffa630,
		600: #d68822,
		base: var(--color-orange-500)
	),
	blue: (
		base: #222e50
	),
	purple: (
		base: #9f2042
	)
);
