$font-primary: 'ff-tisa-sans-web-pro', sans-serif;

$color-black: #252422;
$color-white: #FFFCF2;
$color-brand: #92AD94;
$color-tint: #403D39;
$color-highlight: #4DAA57;

$container-max-width: 1080px;