$font-primary: 'ff-tisa-sans-web-pro', sans-serif;
$font-code: ubuntu-mono, monospace;
$font-script: "gloria-hallelujah", serif;

$color-black: #04080F;
$color-white: #F7F7F9;

$container-max-width: 1080px;

$brand-colors: (
  green: (
    base: #224102
  ),
  orange: (
    base: #FFA630
  ),
  blue: (
    base: #222E50
  ),
  purple: (
    base: #9F2042
  )
)