---
import type { HTMLAttributes } from 'astro/types';

interface CustomProps {
  header: boolean;
}

type Props = HTMLAttributes<'a'> & CustomProps;

const { header, href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = pathname.indexOf(href) === 0;
---

<a
  href={href}
  class:list={[className, { active: isActive }, { header }]}
  {...props}
>
  <slot />
</a>

<style lang="scss">
  a,
  a:link,
  a:visited {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: inherit;
    &.active,
    &:hover {
      text-decoration: underline;
    }
    &.header:hover {
      background: rgba(#000, 0.1);
    }
  }
</style>
