---
import NavList from './NavList.astro';
---

<header>
  <div class="container">
    <a class="brand" href="/">[LogoHere]</a>
    <NavList header={true} />
  </div>
</header>
<style lang="scss">
  @use 'src/styles/utils/placeholders';

  header {
		background: #fff;
    border-bottom: 0.25em solid var(--color-brand);
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  h2 {
    margin: 0.5em 0;
  }

	:global(nav) {
		a:hover {
			color: red;
		}
	}
</style>
